<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Integrated Waste Management System</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'user/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'user/css/style.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid px-5 d-none d-lg-block">
        <div class="row gx-5 py-3 align-items-center">
            <div class="col-lg-3">
                <div class="d-flex align-items-center justify-content-start">
                    <i class="bi bi-phone-vibrate fs-1 text-primary me-2"></i>
                    <h2 class="mb-0">+014 1245025</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center justify-content-center">
                    <a href="index.html" class="navbar-brand ms-lg-5">
                        <h1 class="m-0 display-4 text-primary"><span class="text-secondary">IWM</span>Solution</h1>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="d-flex align-items-center justify-content-end">
                   <a href="nepali.html"> <h6>नेपाली | </a></h6> 
                   <h6><a href="index.html">English  &nbsp;</a></h6> 

                   
                    <a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-primary btn-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-5">
        <a href="index.html" class="navbar-brand d-flex d-lg-none">
            <h1 class="m-0 display-4 text-secondary"><span class="text-white">IWMS</span>Solution</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto py-0">
                <a href="index.html" class="nav-item nav-link active">होम</a>
                <a href="about.html" class="nav-item nav-link">हाम्रो बारेमा</a>
                <a href="service.html" class="nav-item nav-link">हाम्रो सेवाहरू</a>
                <a href="service.html" class="nav-item nav-link">शौचालय हरू</a>
                <a href="service.html" class="nav-item nav-link">डस्टबिन हरू</a>

                
                <a href="सम्पर्क.html" class="nav-item nav-link">हाम्रो सम्पर्क</a>
                <a href="सम्पर्क.html" class="nav-item nav-link">लग-इन
                </a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Carousel Start -->
    <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="img/carousel-1.png" alt="Image">
                    <div class="carousel-caption top-0 bottom-0 start-0 end-0 d-flex flex-column align-items-center justify-content-center">
                        <div class="text-start p-5" style="max-width: 900px;">
                            <h3 class="text-white">Integrated Waste Management System</h3>
                            <h1 class="display-1 text-white mb-md-4">आज स्वच्छ, भोलि कायम राख्नुहोस्: फोहोर व्यवस्थापनलाई अँगाल्नुहोस्!</h1>

                            
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">Explore</a>
                            <a href="" class="btn btn-secondary py-md-3 px-md-5">सम्पर्क</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="img/carousel-2.png" alt="Image">
                    <div class="carousel-caption top-0 bottom-0 start-0 end-0 d-flex flex-column align-items-center justify-content-center">
                        <div class="text-start p-5" style="max-width: 900px;">
                            <h3 class="text-white">Integrated Waste Management System</h3>
                            <h1 class="display-1 text-white mb-md-4">पहिलो, सरसफाई, स्वास्थ्य र सदाको लागि खुशी!</h1>

                            
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">अन्वेषण</a>
                            <a href="" class="btn btn-secondary py-md-3 px-md-5">सम्पर्क</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">अघिल्लो</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">पछिल्लो</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Banner Start -->
    <div class="container-fluid banner mb-5">
        <div class="container">
            <div class="row gx-0">
                <div class="col-md-6">
                    <div class="bg-primary bg-vegetable d-flex flex-column justify-content-center p-5" style="height: 300px;">
                        <h3 class="text-white mb-3">नजिकको बिन फेला पार्नुहोस्</h3>

                        
                        <p class="text-white">उचित फोहोर विसर्जनको लागि सजिलै नजिकको बिन पत्ता लगाउनुहोस् र सफा वातावरणमा योगदान पुर् याउँछ।                       </p>
                        <a class="text-white fw-bold" href="">पत्ता लगाउनुहोस्<i class="bi bi-arrow-right ms-2"></i></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bg-secondary bg-fruit d-flex flex-column justify-content-center p-5" style="height: 300px;">
                        <h3 class="text-white mb-3"> नजिकको सार्वजनिक शौचालय फेला पार्नुहोस् </h3>

                        <p class="text-white"> केवल एक क्लिकको साथ नजिकको सार्वजनिक शौचालय पत्ता लगाउनुहोस्!</p>
                        <a class="text-white fw-bold" href="">पत्ता लगाउनुहोस्<i class="bi bi-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Start -->


    <!-- About Start -->
    <div class="container-fluid about pt-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="d-flex h-100 border border-5 border-primary border-bottom-0 pt-4">
                        <img class="img-fluid mt-auto mx-auto" src="img/about.png">
                    </div>
                </div>
                <div class="col-lg-6 pb-5">
                    <div class="mb-3 pb-2">
                        <h6 class="text-primary text-uppercase">हाम्रो बारेमा</h6>
                        <h1 class="display-5">स्मार्ट समाधान। स्वच्छ वातावरण। बेहतर भविष्य</h1>
                    </div>
                    <p class="mb-4">एन्टेग्रेटेड वेस्ट म्यानेजमेन्ट सिस्टममा, हामी नवीन र दिगो समाधानहरूको माध्यमबाट फोहोर व्यवस्थापन अभ्यासहरूमा क्रान्ति ल्याउन समर्पित छौं। दक्षता, वातावरणीय प्रभाव न्यूनीकरण र सामुदायिक संलग्नतामा ध्यान केन्द्रित गर्दै, हामी फोहोर व्यवस्थापनलाई स्मार्ट, डेटा-संचालित प्रक्रियामा रूपान्तरण गर्न प्रयास गर्दछौं।</p>
                    <div class="row gx-5 gy-4">
                        <div class="col-sm-6">
                            <i class="fa fa-seedling display-1 text-secondary"></i>
                            <h4>फोहोर संकलन र अनुकूलन</h4>
                            <p class="mb-0">उन्नत सेन्सर र वास्तविक-समय निगरानी मार्फत कुशल फोहोर संकलन। डेटा-संचालित मार्ग अनुकूलनको साथ ओभरफ्लो कम गर्न र दक्षता अधिकतम गर्न।</p>
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-award display-1 text-secondary"></i>
                            <h4>सामुदायिक संलग्नता र सहभागिता</h4>
                            <p class="mb-0">समुदायलाई फोहरमैला व्यवस्थापनमा सक्रिय सहभागिताका लागि सशक्त बनाउने । अनुसूची, संसाधनहरू, र रिपोर्टिङका लागि प्रयोगकर्ता-अनुकूल अनुप्रयोगहरू। एक साथ एक स्थायी भविष्य का निर्माण।</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Facts Start -->
    <div class="container-fluid bg-primary facts py-5 mb-5">
        <div class="container py-5">
            <div class="row gx-5 gy-4">
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex">
                        <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-university fs-4 text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-white">स्थानीय सरकार</h5>
                            <h1 class="display-5 text-white mb-0" data-toggle="counter-up">145</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex">
                        <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-users fs-4 text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-white">साझेदारहरू</h5>
                            <h1 class="display-5 text-white mb-0" data-toggle="counter-up">125</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex">
                        <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-trash fs-4 text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-white">कुल डस्टबिन                            </h5>
                            <h1 class="display-5 text-white mb-0" data-toggle="counter-up">4256</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex">
                        <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-toilet fs-4 text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-white">सार्वजनिक शौचालय                            </h5>
                            <h1 class="display-5 text-white mb-0" data-toggle="counter-up">123</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->
    

    <!-- सेवाहरू Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4 col-md-6">
                    <div class="mb-3">
                        <h6 class="text-primary text-uppercase">सेवाहरू</h6>
                        <h1 class="display-5">IWMS सेवाहरू</h1>
                    </div>
                    <p class="mb-4">हरित भविष्यका लागि फोहरमैला व्यवस्थापनमा क्रान्ति ल्याउने । स्मार्ट टेक्नोलोजी, डाटा-संचालित अन्तर्दृष्टि, र सामुदायिक संलग्नता अपशिष्ट संग्रह अनुकूलन गर्न, रिसाइक्लिंग लाई बढावा दिन, र पर्यावरणीय प्रभाव कम गर्न ।</p>
                    <a href="" class="btn btn-primary py-md-3 px-md-5">सम्पर्क Us</a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-light text-center p-5">
                        <i class="fa fa-truck display-1 text-primary mb-3"></i>
                        <h4>फोहर मैला संकलन र व्यवस्थापन</h4>
                        <p class="mb-0">आवासीय र व्यावसायिक आवश्यकताहरूको लागि समयमै र पर्यावरण-अनुकूल फोहोर संकलन, उचित निपटान सुनिश्चित गर्न र वातावरणीय प्रभाव कम गर्न।</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-light text-center p-5">
                        <i class="fa fa-recycle display-1 text-primary mb-3"></i>
                        <h4>पुन: प्रयोगको लागि समाधान</h4>
                        <p class="mb-0">रिसाइकल गर्न मिल्ने सामग्रीको रिकभरीलाई अधिकतम बनाउन, ल्यान्डफिल फोहोर कम गर्न र अर्थतन्त्रलाई बढावा दिन व्यापक रिसाइक्लिङ्ग सेवा।</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-light text-center p-5">
                        <i class="fa fa-route display-1 text-primary mb-3"></i>
                        <h4>फोहोर लेखापरीक्षण र परामर्श</h4>
                        <p class="mb-0">फोहोर व्यवस्थापन अभ्यासहरू अनुकूलन गर्न र दिगोपन बृद्धि गर्न व्यावसायिक फोहोर लेखा परीक्षण र अनुकूलित परामर्श।</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-light text-center p-5">
                        <i class="fa fa-skull-crossbones display-1 text-primary mb-3"></i>
                        <h4>खतराजनक फोहोर व्यवस्थापन</h4>
                        <p class="mb-0">
                            वातावरण संरक्षण र नियामक अनुपालनलाई प्राथमिकता दिँदै खतरनाक सामग्रीहरूको सुरक्षित ह्यान्डलिङ, ढुवानी र निपटान।

                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-light text-center p-5">
                        <i class="fa fa-school display-1 text-primary mb-3"></i>
                        <h4>दिगो शिक्षा र प्रशिक्षण
                        </h4>
                        <p class="mb-0">व्यक्ति र संगठनहरूको लागि फोहोर न्यूनीकरण, पुनर्चक्रण, र दिगो अभ्यासहरूलाई बढावा दिन कार्यशालाहरू र प्रशिक्षण सत्रहरू संलग्न गर्नुहोस्।</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- सेवाहरू End -->


    <!-- Features Start -->
    <div class="container-fluid bg-primary feature py-5 pb-lg-0 my-5">
        <div class="container py-5 pb-lg-0">
            <div class="mx-auto text-center mb-3 pb-2" style="max-width: 500px;">
                <h4 class="text-uppercase text-secondary">किन ?</h4>
                <h1 class="display-5 text-white">किन ई-एन्टेग्रेटेड फोहोर व्यवस्थापन प्रणाली ? !!!</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-3">
                    <div class="text-white mb-5">
                        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="bi bi-check2-circle fs-4 text-white"></i>

                        </div>
                        <h4 class="text-white">व्यापक समाधान</h4>
                        <p class="mb-0">हाम्रो प्रणालीले फोहोर व्यवस्थापनको लागि एक समग्र दृष्टिकोण प्रदान गर्दछ, संग्रह र निपटानदेखि रिसाइक्लिंग र स्थिरता शिक्षासम्म सबै पक्षहरूलाई सम्बोधन गर्दछ।</p>
                    </div>
                    <div class="text-white">
                        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="bi bi-gear-wide-connected fs-4 text-white"></i>
                        </div>
                        <h4 class="text-white">दक्षता र अनुकूलन</h4>
                        <p class="mb-0">उन्नत सेन्सर टेक्नोलोजी, रियल-टाइम मोनिटरिङ र डाटा एनालिटिक्सको साथ, हाम्रो प्रणालीले फोहोर संकलन मार्गहरू अनुकूलन गर्दछ, यात्रा समय कम गर्दछ, र ईन्धन खपत कम गर्दछ। </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-block bg-white h-100 text-center p-5 pb-lg-0">
                        <p>व्यापक, कुशल र दिगो फोहर मैला व्यवस्थापन समाधानका लागि एकीकृत फोहरमैला व्यवस्थापन प्रणाली रोज्नुहोस् । सँगै, वातावरणमा सकारात्मक प्रभाव पारौं र स्वच्छ, हरित भविष्य निर्माण गरौं।</p>
                        <img class="img-fluid" src="img/feature.png" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-white mb-5">
                        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-seedling fs-4 text-white"></i>
                        </div>
                        <h4 class="text-white">वातावरणीय प्रभाव न्यूनीकरण</h4>
                        <p class="mb-0">हामी रिसाइक्लिंग, फोहोर न्यूनीकरण र उचित निपटान अभ्यासहरूलाई बढावा दिएर वातावरणीय स्थिरतालाई प्राथमिकता दिन्छौं।</p>
                    </div>
                    <div class="text-white">
                        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fas fa-bezier-curve fs-4 text-white"></i>
                        </div>
                        <h4 class="text-white">टेक्नोलोजी-संचालित दृष्टिकोण</h4>
                        <p class="mb-0">हामी नवीन र कुशल अपशिष्ट व्यवस्थापन समाधान हरू प्रदान गर्न सेन्सर टेक्नोलोजी, डाटा एनालिटिक्स, र मेशिन लर्निंग जस्ता उन्नत टेक्नोलोजीहरूको लाभ उठाउँछौं। </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features Start -->



    <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="mx-auto text-center mb-5" style="max-width: 500px;">
                <h6 class="text-primary text-uppercase">हाम्रो घोषणा र समाचार लेख</h6>
                <h1 class="display-5">हाम्रो ब्लग पोस्टबाट नवीनतम लेखहरू</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4">
                    <div class="blog-item position-relative overflow-hidden">
                        <img class="img-fluid" src="img/blog-1.jpg" alt="">
                        <a class="blog-overlay" href="">
                            <h4 class="text-white">फोहोरबाट नगदमा फोहोर संकलन प्रक्रियालाई आधुनिकीकरण गर्ने ।</h4>
                            <span class="text-white fw-bold">जनवरी 01, 2023</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-item position-relative overflow-hidden">
                        <img class="img-fluid" src="img/blog-2.jpg" alt="">
                        <a class="blog-overlay" href="">
                            <h4 class="text-white">नेपालको आतिथ्यमा ध्यान दिनुहोस् । हामी क्लिनर र ग्रीनर सिटीको साथ पर्यटन प्रवर्द्धन गर्न मद्दत गर्दछौं।</h4>
                            <span class="text-white fw-bold">फेब्रुअरी  01, 2023</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-item position-relative overflow-hidden">
                        <img class="img-fluid" src="img/blog-3.jpg" alt="">
                        <a class="blog-overlay" href="">
                            <h4 class="text-white">वर्गीकृत फोहोर डिब्बाहरू सबै क्षेत्रमा राखिएको छ। किन ?</h4>
                            <span class="text-white fw-bold">जनवरी 01, 2022</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->
    

    <!-- Footer Start -->
   
    <div class="container-fluid bg-footer bg-primary text-white mt-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-8 col-md-6">
                    <div class="row gx-5">
                        <div class="col-lg-4 col-md-12 pt-5 mb-5">
                            h4 class="text-white mb-4">सम्पर्कमा रहनुहोस्</h4>
                            <div class="d-flex mb-2">
                                <i class="bi bi-geo-alt text-white me-2"></i>
                                <p class="text-white mb-0">काठमाडौं, वाग्मती, नेपाल</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-envelope-open text-white me-2"></i>
                                <p class="text-white mb-0">iwms@org.com</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-telephone text-white me-2"></i>
                                <p class="text-white mb-0">+014 12450250</p>
                            </div>
                            <div class="d-flex mt-4">
                                <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-secondary btn-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <h4 class="text-white mb-4">द्रुत लिङ्कहरू</h4>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Home होम</a>
                                <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>हाम्रोबारे</a>
                                <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>हाम्रो सेवाहरू</a>
                                <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>हाम्रो प्रणाली</a>
                                <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>नयाँ ब्लग</a>
                                <a class="text-white" href="#"><i class="bi bi-arrow-right text-white me-2"></i>हामीलाई सम्पर्क गर्नुहोस</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <h4 class="text-white mb-4">द्रुत लिङ्कहरू</h4>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Home होम</a>
                                <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>हाम्रोबारे</a>
                                <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>हाम्रो सेवाहरू</a>
                                <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>हाम्रो प्रणाली</a>
                                <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>नयाँ ब्लग</a>
                                <a class="text-white" href="#"><i class="bi bi-arrow-right text-white me-2"></i>हामीलाई सम्पर्क गर्नुहोस</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-n5">
                    <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-secondary p-5">
                        <h4 class="text-white">प्रतिक्रिया</h4>
                        <p>तपाईंको प्रतिक्रिया र चिन्ताहरू हाम्रो लागि बहुमूल्य छन्। यदि तपाईंसँग कुनै प्रतिक्रिया, सुझावहरू छन् भने, कृपया हाम्रो टोलीमा पुग्नुहोस्।</p>
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control border-white p-3" placeholder="प्रविष्ट गर्नुहोस्">
                                <button class="btn btn-primary">पेश गर्नुहोस्</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white py-4">
        <div class="container text-center">
            <p class="mb-0">&copy; <a class="text-secondary fw-bold" href="#">Integrated Waste Management System</a>. All Rights Reserved. Designed & Develop by <a class="text-secondary fw-bold" href="/">IWMS</a></p>
        </div>
    </div>

    <!-- Back to Top -->
    <a href="#" class="btn btn-secondary py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'user/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'user/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'user/lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'user/lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'user/js/main.js' %}"></script>
</body>

</html>

